In [1]:
#!pip install pymongo[srv]

# --> incase of not working
#!pip install dnspython   

import pymongo

# Connecting To Cluster

In [64]:
#Link Copied from Mongo DB Cluster Connect option
#Note below is the actual link but we have to change the password of it, that is cluster password

#"mongodb+srv://sher:<password>@sher.qagxm6s.mongodb.net/?retryWrites=true&w=majority"

client=pymongo.MongoClient("mongodb+srv://sher:babumongodb123@sher.qagxm6s.mongodb.net/?retryWrites=true&w=majority",tls=True,tlsAllowInvalidCertificates=True)

#Creating Database

db=client["Shamsher_database"]
print(db)

Database(MongoClient(host=['ac-r0r22tu-shard-00-00.qagxm6s.mongodb.net:27017', 'ac-r0r22tu-shard-00-01.qagxm6s.mongodb.net:27017', 'ac-r0r22tu-shard-00-02.qagxm6s.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-10rj06-shard-0', tls=True, tlsallowinvalidcertificates=True, tlsdisableocspendpointcheck=True), 'Shamsher_database')

- check databases in the cluster

In [47]:
client.list_database_names()

['Shamsher_database', 'admin', 'local']

- Creating Collection known in sql Table

In [4]:
t1=db["Employee"]

# Inserting Row

--- Rows are Inserted in form of key-value similar to dictionary

In [5]:
row1={
    
    "name":"Shamsher",
    "age":'25',
    "Address":"Karak"
}

#insert_one() is a function to add a single record

t1.insert_one(row1)

In [6]:
#So we are adding an another record with one more column or can say one more feature
#

In [7]:
row2={
    #  bydefault id is aasign to each record by mangodb itself
    # "_id" : "fghjghfhgjhdshjddsdsd"
    
    "name":"Shamsher",
    "age":'25',
    "Address":"Karak",
    "Phone":"03128756956"
}

#insert_one() is a function to add a single record

t1.insert_one(row2)

- list of Records dumping inside collection/table

In [8]:
list=[
    
    {
        'name':'Haseeb',
        'age':22
        
    },
    
    {
        'name':"Attaullah",
        'age':25
        
    },
    
    {
        
        'name':'Shapato',
        'age':22,
        'Phone': '031287'
    },
    

]
t1.insert_many(list)

# Searching or Filtering

- Fetching just first 2 documents/records

In [9]:
for i in t1.find().limit(2):
    print(i)

{'_id': ObjectId('638b75db86a2a0d22ee6412f'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638b786e86a2a0d22ee64130'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}

- Retrieve all records from collection/table

In [10]:
for i in t1.find():
    print(i)

{'_id': ObjectId('638b75db86a2a0d22ee6412f'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638b786e86a2a0d22ee64130'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}
{'_id': ObjectId('638c25137e48f5e20198131b'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638c25147e48f5e20198131c'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}
{'_id': ObjectId('638c25147e48f5e20198131d'), 'name': 'Haseeb', 'age': 22}
{'_id': ObjectId('638c25147e48f5e20198131e'), 'name': 'Attaullah', 'age': 25}
{'_id': ObjectId('638c25147e48f5e20198131f'), 'name': 'Shapato', 'age': 22, 'Phone': '031287'}

- Retrieve specific record from table

In [11]:
for i in t1.find({'name':'Haseeb'}):
    print(i)

{'_id': ObjectId('638c25147e48f5e20198131d'), 'name': 'Haseeb', 'age': 22}

- To check if any of the matching exists same as like function in sql

In [12]:
for i in t1.find({'name': {"$in" :["sham","shamshir","shamsher","Shamsher"]}}):
    
    print(i)

{'_id': ObjectId('638b75db86a2a0d22ee6412f'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638b786e86a2a0d22ee64130'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}
{'_id': ObjectId('638c25137e48f5e20198131b'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638c25147e48f5e20198131c'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}

 - further querying by selecting 2 columns

In [13]:
for i in t1.find({'name': {"$in" :["sham","shamshir","shamsher","Shamsher"]},'Phone':"03128756956"}):
                  print(i)

{'_id': ObjectId('638b786e86a2a0d22ee64130'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}
{'_id': ObjectId('638c25147e48f5e20198131c'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}

- Fetch all records where age is greater/lesser/equal then 20

In [14]:
#$gt means greater then
#$lt means less the

#gte means greater or equal 
#lte means lesser or equal

for i in t1.find({'age':{'$gt':20}}):
    print(i)

{'_id': ObjectId('638c25147e48f5e20198131d'), 'name': 'Haseeb', 'age': 22}
{'_id': ObjectId('638c25147e48f5e20198131e'), 'name': 'Attaullah', 'age': 25}
{'_id': ObjectId('638c25147e48f5e20198131f'), 'name': 'Shapato', 'age': 22, 'Phone': '031287'}

- Age=20 Retrieve all those records

In [15]:
for i in t1.find({'age':22}):
    
    print(i)

{'_id': ObjectId('638c25147e48f5e20198131d'), 'name': 'Haseeb', 'age': 22}
{'_id': ObjectId('638c25147e48f5e20198131f'), 'name': 'Shapato', 'age': 22, 'Phone': '031287'}

- Fetch all records where Age Not greater then 20

In [16]:
# here mistakenly age is stored as string so thats why those fault 25 age
# rows are also coming
for i in t1.find({'age': {'$not': {'$gt': 20}}}):
    
    print(i)

{'_id': ObjectId('638b75db86a2a0d22ee6412f'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638b786e86a2a0d22ee64130'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}
{'_id': ObjectId('638c25137e48f5e20198131b'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638c25147e48f5e20198131c'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}

# Update

- Update name of all those records/documents whose name is Haseeb to Haseeb Khattak

In [17]:
t1.update_many({"name":'Haseeb'},{'$set': {"name":  "Haseeb Khattak"}})

- Update Phone number whose name is Shapato

In [18]:
#Check cluster Atlas it will be updated
t1.find_one_and_update({'name':'Shapato'},{'$set':{'Phone':'031296369564'}})

{'_id': ObjectId('638c25147e48f5e20198131f'),
 'name': 'Shapato',
 'age': 22,
 'Phone': '031287'}

- Update all those whose age >= 22    (Multiple Rows)

In [19]:
t1.update_many({'age':{'$gte':22}},{'$set':{'name':"Irfan updated"}})

In [20]:
for i in t1.find():
    print(i)

{'_id': ObjectId('638b75db86a2a0d22ee6412f'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638b786e86a2a0d22ee64130'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}
{'_id': ObjectId('638c25137e48f5e20198131b'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638c25147e48f5e20198131c'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}
{'_id': ObjectId('638c25147e48f5e20198131d'), 'name': 'Irfan updated', 'age': 22}
{'_id': ObjectId('638c25147e48f5e20198131e'), 'name': 'Irfan updated', 'age': 25}
{'_id': ObjectId('638c25147e48f5e20198131f'), 'name': 'Irfan updated', 'age': 22, 'Phone': '031296369564'}

# Delete

-  Delete all documents/records where name= Irfan updated

In [21]:
t1.delete_many({"name":"Irfan updated"})

In [22]:
for i in t1.find():
    print(i)

{'_id': ObjectId('638b75db86a2a0d22ee6412f'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638b786e86a2a0d22ee64130'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}
{'_id': ObjectId('638c25137e48f5e20198131b'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak'}
{'_id': ObjectId('638c25147e48f5e20198131c'), 'name': 'Shamsher', 'age': '25', 'Address': 'Karak', 'Phone': '03128756956'}

# Converting CSV to JSON then Storing in MongoDB

In [81]:

collection = db['khan2']

def csv_to_json(filename, header=None):
    
    data=pd.read_csv("carbon_nanotubes.csv",sep=';')
    return data.to_dict('records')

collection.insert_many(csv_to_json(data))

In [88]:

##for i in collection.find():
##    print(i)

# Converting CSV to JSON then Storing in MongoDB

In [86]:

data=pd.read_csv("carbon_nanotubes.csv",sep=';')

#it will create collection table

db.collection.insert_many(data.to_dict('records'))

- Count Documents/Rows in the table named Collection

In [87]:
db.collection.count_documents({})

42884

# Drop Collection/Table

In [100]:
db.list_collection_names()

['Employee', 'khan2', 'collection', 'khan']

In [99]:
db.drop_collection("carbon")

{'nIndexesWas': 1,
 'ns': 'Shamsher_database.carbon',
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1670139082, 12),
  'signature': {'hash': b'\xfa3\xa6\x05\xbb\x87[,\xae\x19\xceL\xd3n/f\xa1\t\xef\x0f',
   'keyId': 7120275587368747012}},
 'operationTime': Timestamp(1670139082, 12)}